<%= display_header(@cuisine)%>

<form method="get" action="/restaurants">
    <input type="hidden" name="filter" value="expensive">
    <input type="submit" value="High Dollar">
</form>

<%# <a href="/restaurants?expensive=expensive">High Dollar</a> %>

<form method="get" action="/restaurants">
    <input type="hidden" name="filter" value="price">
    <input type="submit" value="Sort by Price">
</form>
<%= form_tag(restaurants_path, method:"get") do |f| %>
    <%= label_tag("Search:") %>
    <%= text_field_tag('filter') %>
    <%= submit_tag("Search") %>
<% end %>

<ul>
   <%= render @restaurants %>
</ul>

