<h1><%= @restaurant.name_and_cuisine%></h1>
<h2> <%= @restaurant.generate_stars %> </h2>

<p> <%= @restaurant.description %></p>


<%= link_to("Edit Restaurant", edit_restaurant_path(@restaurant)) %>
<%= link_to("Delete Restaurant", restaurant_path(@restaurant), method:"delete") %>



